<section>
  <h4>Welcome <%= @user.username %>!</h4>
</section>

<section>
  <h3><%= link_to "Add a new product", new_user_product_path(@user.id), method: :get %></h3>
</section>

<section class="all-products">
  <h3>Your existing products</h3>
  <ul>
  <% @user.products.each do |product| %>
    <li>
      <%= link_to product.name, user_product_path(@user.id, product.id), method: :get %>
      <%= link_to "Edit", edit_user_product_path(@user.id, product.id), method: :get %>
    </li>
  <% end %>
  </ul>
</section>

<section class="metrics">
  <h3>Total Revenue: <%= @user.total_revenue %></h3>
</section>

<section class="order-monitor">
  <% pending_orders = @user.count_orders("pending") %>
  <% paid_orders = @user.count_orders("Paid") %>
  <h3>Pending orders: <%= pending_orders.length %></h3>
  
  <h3>Paid orders: <%= paid_orders.length %></h3>
  <ul>
    <% paid_orders. each do |order| %>
      <h4>Order # <%= order.id %></h4>
      <li>Name: <%= order.name %></li>
      <li>Email: <%= order.email %></li>
      <li>Mailing Address: <%= order.mailing_address %></li>
    <% end %>
  </ul>
</ul>