<div class="back-color">
  <section>
    <h2>User Summary: <%= @user.username %> </h2>
    <p> Became a merchant: <%= render_date @user.created_at %></p>
    <%= link_to "Home", root_path %>
    <br>
    </section>
    <section>
    <h3> Products </h3>
    <% products = Product.where(user_id: @user.id, retired: false) %>
    <% if !products.nil? %>
      <% products.each do |product|%>
      <p><%= link_to image_tag(product.photo_url, :size => "300x300"), product_path(product.id) %></p>
      <p><%= link_to (product.name), product_path(product.id) %></p>
      <% end %>
    </section>
      <% else %>
      <section>
      User has no products.
      </section>
    <% end %>
  </section>
</div>
