<section class="back-color" id="show-order">
<% if !Order.find_by(id: cookies[:order_id]).orderitem_ids.empty? %>
  <h3>Order</h3>
  <table class="table-hover product-table">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Item Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @order.orderitem_ids.each do |id| %>
        <% order_item = Orderitem.find_by(id: id)%>
        <% limit = order_item.max_quantity %>
        <% product = Product.find_by(id: order_item.product_id) %>
        <tr>
          <td><%= product.name %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td>
            <%= form_for order_item, remote: true, class: "form-inline" do |f| %>
              <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control-sm", min: 1 %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit "Update Quantity", class: "btn btn-outline-light btn-sm" %>
            <% end %>
          </td>
          <td><%= number_to_currency(product.price * order_item.quantity) %></td>
          <td>
            <%= link_to "Remove", orderitem_path(id), method: :delete, class: "btn btn-outline-danger btn-sm", data: {confirm: "Are you would like to remove #{product.name} from your cart?"} %>
          </td> 
        </tr>
      <% end %>
    </tbody>
  </table>

  <section class="sub-total">
    <p>Sub-total: <%= number_to_currency(@order.calculate_total) %></p>
  </section>

  <section class="order-buttons">
    <p><%= link_to "Check Out", edit_order_path(params[:id]), class: "btn btn-outline-light" %></p>
    <p><%= link_to "Keep Shopping", root_path, class: "btn btn-outline-light" %></p>
  </section>

  <% else %>
    <h5>Your shopping cart is empty!</h5>
<% end %>
</section>