<div class="back-color">
<section>
  <h3>Order</h3>
  <ul>
    <% @order.orderitem_ids.each do |id| %>
      <% order_item = Orderitem.find_by(id: id)%>
      <% product = Product.find_by(id: order_item.product_id) %>
      <br>
      <li>
        <br>
        <%= product.name %>
        <br>
        <%= "Price: $#{product.price}" %>
        <br>
        <%= "Quantity: #{order_item.quantity}" %> 
        <br>
        <% if cookies[:order_id] %>
          <u><%= link_to "Edit", edit_orderitem_path(id) %></u>
          
          <u><%= link_to "Delete", orderitem_path(id), method: :delete, data: {confirm: "Are you would like to remove #{product.name} from your cart?"} %></u>
        <% end %>    
      </li>
    <% end %>
    <br>
  <% if cookies[:order_id] %>
    <%= button_to "Check Out", edit_order_path(params[:id]), method: :get %>
  <% end %>
</section>
</ul>
</div>