<div class="review-back-color">
<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :categories %>
  <br>
  <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %>
  <br>
  <%= f.label :stock %>
  <br>
  <%= f.text_field :stock %>
  <br>
  <%= f.label :price %>
  <br>
  <%= f.text_field :price %>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.label :photo_url %>
  <br>
  <%= f.text_field :photo_url %>
  <br>
  <br>
  <%= f.submit "Submit" %>
<% end %>
</div>
