<div class="back-color">
  <h2><%= @product.name.upcase %></h2>

<section class="product-show-margin">
  <p><%= image_tag(@product.photo_url, :size => "300x300") %></p>
  <h2 class="h-border"> <%=@product.description %></h2>
  <p>Stock: <%= @product.stock %></p>
  <p>Price: <%= "$#{@product.price}" %></p>
  <p><%= render template: "orderitems/_new" %></p>
    <h3 class="h-border">Reviews</h3>
    <p> Average rating:
      <% if @product.reviews.count == 0 %>
      <br>
          No Reviews
      <%else%>
        <%= @product.average_rating.round(1) %>
      <%end%> </p>
    <section>
      <% if @user != @product.user %>
        <p><%= link_to "Write a Review", new_product_review_path(@product.id) %></p>
      <% end %>
    </section>
  <ul>
    <% i = 1 %>
    <% @product.reviews.each do |review| %>
    <section>
      Review <%= i %>
      <br>
      Description: &nbsp;&nbsp; <%= review.description %>
      <br>
      Rating: <%= review.rating %>
      <% i += 1 %>
      </section>
      <% end %>
    </ul>
  </section>
</div>