<section>
  <h2><%= @product.name.upcase %></h2>
</section>

<section>
  <p>Stock: <%= @product.stock %></p>
  <p>Price: <%= @product.price %></p>
  <p><%= image_tag @product.photo_url %></p>
  <p><%= render 'orderitems/new.html.erb' %></p>
</section>
