<div class="back-color">
  <section>
    <h2><%= @product.name.upcase %></h2>
    <p><%= image_tag(@product.photo_url, :size => "300x300") %></p>
  </section>
  <section>
    <br>
    <br>
    <h2> <%=@product.description %></h2>
  </section>
  <section class="product-show-margin">
    <p>Stock: &nbsp;
    <% if @product.stock == 0 %>
      <%= "Out of Stock" %>
      <% else %>
    <%= @product.stock %></p>
    <p>Price: <%= "$#{@product.price}" %></p>
    <p><%= render template: "orderitems/_new" %></p>
    <% end %>
    <h3 class="h-border">Reviews</h3>
    <p> Average rating:
      <% if @product.reviews.count == 0 %>
      <br>
          No Reviews
      <%else%>
        <%= @product.average_rating.round(1) %>
    <% i = 1 %>
    <% @product.reviews.each do |review| %>
    <section>
      <u>Review <%= i %></u>
      <br>
      <%= review.description %>
      <br>
      Rating: <%= review.rating %>
      <% i += 1 %>
      </section>
      <% end %>
      <%end%> </p>
    <section>
      <% if @user != @product.user %>
        <p><%= link_to "Write a Review", new_product_review_path(@product.id) %></p>
      <% end %>
    </section>
  </section>
</div>